* {
    font-family: Poppins, sans-serif;
    color: #1e1e1e;
    box-sizing: border-box;
}

.navbar {
    height: 100px;
    border: 1px;
}

.navbar-brand {
    line-height: 100px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s ease 0s;
}

.btn-outline-secondary {
    width: 180px;
    color: #FFFFFF;
    background-color: #1e1e1e;
    height: 40px;
    transition: 0.7s ease;
}

.navbar-nav {
    transition: 1s ease;
}

.navbar-nav .nav-link:hover {
    color: #f35525;
}

.btn-outline-secondary:hover {
    background-color: #f35525;
}

.img-fluid {
    height: 800px;
}

.p1 {
    position: relative;
    top: 200px;
    left: 460px;
    background-color: #fff;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    width: 150px;
}

.p1 span {
    color: #f35525;
}

.h21 {
    position: relative;
    top: 200px;
    left: 450px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    display: inline-block;
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 72px;
    width: 50%;
    margin-bottom: 0px;
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: auto;
        min-width: 200px;
        padding: 10px;
        border: 1px solid #ddd;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 991px) {
    .btn-outline-secondary {
        margin-top: 30px;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent {
        max-height: 340px;
        overflow-y: auto;
    }
}

.img-thumbnail {
    border: none;
    margin-left: 150px;
}

@media (max-width: 991px) {
    .p1 {
        position: relative;
        left: 300px;
    }

    .h21 {
        position: relative;
        left: 300px;
    }
}

.img-thumbnail {
    border: none;
    display: block;
    margin-left: 30px;
    margin-top: 120px;
    height: 600px;
    width: 500px;
}

.img2 {
    background-color: #f35525;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.a1,
.img2 {
    position: absolute;
    bottom: 430px;
    left: -60px;
}

@media (max-width: 991px) {
    .special2 {
        position: relative;
        text-align: center;
        width: 100%;
    }

    .img-thumbnail {
        width: 80%;
        margin: 0 auto;
    }

    .special3 {
        position: absolute;
        bottom: -150px;
        left: -30px;
    }

}

.img2 {
    background-color: #f35525;
    border-radius: 50%;
}

.a1 {
    position: relative;
    left: 80px;
    top: 450px;
}

.div1 h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    left: 80px;
    top: 180px;
}

.div1 h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    position: relative;
    left: 80px;
    top: 180px;
}

.div1 h5 {
    position: relative;
    left: 80px;
    top: 180px;
    border: none;
}

.special4 {
    position: relative;
    left: 80px;
    top: 180px;
    width: 350px !important;
}

.div1 a {
    width: 340px;
    text-align: start;
    transition: 0.5s ease;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
    background-color: white;
}

.div1 a:hover {
    color: #f35525;
    background-color: white;
}

.div2 h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    left: 80px;
    top: 180px;
}

.div2 h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    position: relative;
    left: 80px;
    top: 180px;
}

.div2 h5 {
    position: relative;
    left: 80px;
    top: 180px;
    border: none;
    border: none;
}

.special5 {
    position: relative;
    left: 80px;
    top: 180px;
    width: 350px;
}

.div2 a {
    width: 340px;
    text-align: start;
    transition: 0.5s ease;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
    background-color: white;
}

.div2 a:hover {
    color: #f35525;
    background-color: white;
}

.div3 h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    left: 80px;
    top: 180px;
}

.div3 h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    position: relative;
    left: 80px;
    top: 180px;
}

.div3 h5 {
    position: relative;
    left: 80px;
    top: 180px;
    border: none;
    border: none;
}

.special6 {
    position: relative;
    left: 80px;
    top: 180px;
    width: 350px;
}

.div3 a {
    width: 340px;
    text-align: start;
    transition: 0.5s ease;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
    background-color: white;
}

.div3 a:hover {
    color: #f35525;
    background-color: white;
}

.special4,
.special5,
.special6 {
    font-size: 16px;
    color: #212529;
    border-color: #f35525;
}

.m1 {
    position: relative;
    right: -480px;
    top: -210px;
    width: 240px;
}

.m1 ul {
    list-style: none;
}

.m1 h4 {
    font-size: 22px;
    font-weight: 600;
}

.m1 span {
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
}

.m1 {
    display: flex !important;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;

}

.m1 ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.m1 img {
    max-width: 60px;
    height: auto;
}

@media (max-width: 991px) {
    .container.d-flex {
        flex-direction: column;
        align-items: left;
    }

    .img2 {
        background-color: #f35525;
        position: relative;
        left: -370px;
        top: -530px;
        z-index: 1000;
    }

    .m2 {
        text-align: start;
    }

    .special2 {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    .special2 img.img-thumbnail {
        width: 90%;
        margin: 0 auto;
    }

    .special3 {
        position: static;
        margin: 20px auto 0;
    }

    .div1,
    .div2,
    .div3 {
        position: static !important;
        text-align: left;
        margin: 20px 0;
    }

    .div1 h6,
    .div1 h2,
    .div1 h5,
    .div2 h5,
    .div3 h5,
    .special4,
    .special5,
    .special6 {
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        margin: 10px auto;
        text-align: left;
    }

    .m1 {
        position: static !important;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: left;
    }

    .m1 ul {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0;
    }

    .m1 ul li {
        width: 100%;
        justify-content: left;
    }
}

.m3 {
    width: 100%;
    height: 700px;
    background-image: url(images/image9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.m4 h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 100px;
}

.m4 h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}

.m4 {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.m5 img {
    margin-left: 220px;
    border-radius: 10px;
    width: 70%;
    overflow: hidden;
}

.m5 a {
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    color: #f35525;
    outline: 15px solid rgba(254, 85, 37, 0.5);
    font-size: 18px;
    z-index: 1000;
    text-decoration: none;
}

.m6 {
    margin-top: -240px;
    width: 100%;
    text-align: center;
}

.m3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.m5 {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.m6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    margin-top: 0;
}

.m5 img {
    margin-left: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
    max-width: 1200px;
    gap: 70px;
}

.card {
    background-color: #fce4d6;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    flex: 1;
    text-align: center;
    position: relative;
    top: 170px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.orange-circle {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 60px;
    height: 60px;
    background-color: #f35525;
    border-radius: 50%;
}


@media (max-width: 991px) {
    .cards-container {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        margin-bottom: 20px;
    }
}

.card h2 {
    margin-right: 25px;
    font-size: 40px;
    color: #f35525;
    font-weight: 800;
}

.card span {
    text-align: left;
    font-size: 18px;
    color: #1e1e1e;
    font-weight: 600;
}

.m8 {
    margin-top: 300px;
}

.m7 h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.m7 h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}

.deal-item {
    max-width: 1200px;
    margin: auto;
    gap: 20px;

}

.info-box {
    width: 300px;
}

.extra-info-box {
    width: 300px;
}

.deal-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.m9 {
    border-radius: 10px;
    margin-top: 50px;
    background-color: #fafafa;
    padding: 100px 0px;
    box-shadow: 0 4px 6px rgba(0.1, 0.1, 0.1, 0.1);
}

.m10 {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 35px 30px;
}

.extra-info-box {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
}

.deal-image {
    width: 500px;
}

.extra-info-box h5 {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 30px;
}

.m11 {
    margin-top: 150px;
    text-align: center;
}

.m11 h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.m11 h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}

.card {
    border-radius: 1rem;
    transition: all 0.5s ease;
    height: 100%;
}

.card:hover {
    transform: scale(1.03);
}

.content-container {
    box-shadow: none;
}

.m13 {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.m14 {
    border-radius: 25px;
}

.card {
    border-radius: 1rem;
    transition: all 0.5s ease;
    height: 100%;
}

.card:hover {
    transform: scale(1.03);
}

.content-container {
    box-shadow: none;
    background-color: transparent;
}

.card-body span {
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    text-align: start;
    margin-top: 25px;
    float: left;
    display: inline;
}

.card-body h6 {
    font-size: 20px;
    color: #f35525;
    margin-top: 6px;
    float: right;
    margin-top: 30px;
    display: inline;
}

.card-title {
    display: block;
}

.card {
    border-radius: 1rem;
    transition: all 0.5s ease;
    height: 100%;
}

.card:hover {
    transform: scale(1.03);
}

.content-container {
    box-shadow: none;
    background-color: transparent;
}

.card-body span {
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
}

.card-body h6 {
    font-size: 20px;
    color: #f35525;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
}

body {
    background-color: #fafafa;
}

.card {
    border-radius: 1rem;
    transition: all 0.5s ease;
    height: 100%;
}

.card:hover {
    transform: scale(1.03);
}

.content-container {
    box-shadow: none;
    background-color: transparent;
}

.card-body span {
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
}

.card-body h6 {
    font-size: 20px;
    color: #f35525;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
}

.align-para {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
}

.btn-outline-secondary {
    width: 180px;
    color: #FFFFFF;
    background-color: #1e1e1e;
    height: 40px;
    transition: 0.7s ease;
    border-radius: 50px;
}

.btn-outline-secondary:hover {
    background-color: #f35525;
}

.m13 {
    height: auto;
}